<ion-view view-title="首页">
    <ion-content>
        <div class="banner">
            <ion-slide-box>
                <ion-slide>
                    <div class="box">
                        <img src="img/home/home-banner2.jpg" alt="" width="100%"/>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <img src="img/home/home-banner3.jpg" alt="" width="100%"/>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box">
                        <img src="img/home/home-banner1.jpg" alt="" width="100%"/>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="home-hot">
            <div class="row">
                <div class="col">
                    <a class="item item-avatar" href="#">
                        <img src="img/home/icon1.jpg">
                        <h2>团购</h2>
                        <p style="font-size: 12px;">每周五，限时团</p>
                    </a>
                </div>
                <div class="col">
                    <a class="item item-avatar" href="#">
                        <img src="img/home/icon2.jpg">
                        <h2>抢红包</h2>
                        <p style="font-size: 12px;">抢红包，享优惠</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="home-item">
            <div class="row">
                <h5>热卖商品</h5>
            </div>
            <div class="row">
                <!--<a class="col" href="#/app/item-detail/1">-->
                    <!--<img src="img/home/item3.jpg" alt="" width="100%"/>-->

                    <!--<p class="title">郑重红利啤，清爽口感值得拥有</p>-->
                    <!--<p class="price">￥9.80/份</p>-->
                    <!--<p class="origin-price">￥15.00</p>-->
                <!--</a>-->

                <div class="col">
                    <img src="img/home/item3.jpg" alt="" width="100%"/>

                    <p class="title">郑重红利啤，清爽口感值得拥有</p>
                    <p class="price">￥9.80/份</p>
                    <p class="origin-price">￥15.00</p>
                </div>

                <div class="col">
                    <img src="img/home/item4.jpg" alt="" width="100%"/>

                    <p class="title">郑重红利啤，清爽口感值得拥有</p>
                    <p class="price">￥9.80/份</p>
                    <p class="origin-price">￥15.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="img/home/item1.jpg" alt="" width="100%"/>

                    <p class="title">郑重红利啤，清爽口感值得拥有</p>
                    <p class="price">￥9.80/份</p>
                    <p class="origin-price">￥15.00</p>
                </div>

                <div class="col">
                    <img src="img/home/item2.jpg" alt="" width="100%"/>

                    <p class="title">郑重红利啤，清爽口感值得拥有</p>
                    <p class="price">￥9.80/份</p>
                    <p class="origin-price">￥15.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="img/home/item3.jpg" alt="" width="100%"/>

                    <p class="title">郑重红利啤，清爽口感值得拥有</p>
                    <p class="price">￥9.80/份</p>
                    <p class="origin-price">￥15.00</p>
                </div>

                <div class="col">
                    <img src="img/home/item4.jpg" alt="" width="100%"/>

                    <p class="title">郑重红利啤，清爽口感值得拥有</p>
                    <p class="price">￥9.80/份</p>
                    <p class="origin-price">￥15.00</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
