<ion-view view-title="添加地址">
        <ion-content class="padding">
            <div class="row">
                <div class="col">详细地址</div>
                <div class="col">
                    <textarea name="" ng-model="data.address" id="" cols="19" rows="5" style="border: 1px solid #e4e5e7; padding: 5px;" placeholder="请填写详细地址"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button button-balanced button-block" ng-click="add(data.address)">提交</button>
                </div>
            </div>
        </ion-content>
</ion-view>