<ion-view view-title="用户中心">
    <ion-content>
        <div class="row user-bg">
            <div class="col col-20 col-offset-10">
                <i class="icon ion-android-person" style="font-size: 60px"></i>
            </div>
            <div class="col col-60">
                <p>吴彦祖</p>

                <p>会员卡号 98833233</p>
            </div>
            <div class="col col-10"></div>
        </div>
        <div class="list user-list">

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-email"></i>
                个人资料
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-chatbubble-working"></i>
                我的钢丝
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-mic-a"></i>
                我的粉丝
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
                我的营业额
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
                累计收益
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
                可领收益
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
                提现申请
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
                分享好友
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
                我的收货地址
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person-stalker"></i>
                我的收藏
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
