<ion-view view-title="更多">
    <ion-content>
        <div class="list user-list">

            <a class="item item-icon-left item-icon-right" ng-click="alert('提示', '无新版本')">
                <i class="icon ion-person-stalker"></i>
                检查更新
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="alert('提示', '清除缓存成功')">
                <i class="icon ion-person-stalker"></i>
                清除缓存
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="alert('提示', '请添加帮助内容')">
                <i class="icon ion-person-stalker"></i>
                帮助中心
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-person-stalker"></i>
                意见反馈
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

                <a class="item item-icon-left item-icon-right" ng-click="alert('提示', '请添加招商加盟内容')">
                <i class="icon ion-person-stalker"></i>
                招商加盟
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
                <a class="item item-icon-left item-icon-right" ng-click="alert('提示', '请添加品牌展示内容')">
                <i class="icon ion-person-stalker"></i>
                品牌展示
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
