<ion-view view-title="购物车" cache-view="false">
    <ion-content>
        <div class="list" ng-if="data.length > 0">
            <a class="item item-avatar" href="#" ng-repeat="d in data">
                <img ng-src="{{d.get('image')}}">
                <h2>{{d.get('name')}}</h2>
                <p>￥{{d.get('price')}} <span class="pull-right">{{d.count}}份</span></p>
            </a>
        </div>
        <div class="balance text-center padding" ng-if="data.length == 0">请先选择需要购买的商品</div>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-if="data.length > 0">
        <div class="title" ui-sref="app.order-add">立即下单</div>
    </div>
</ion-view>
