<ion-view view-title="购物车" cache-view="false">
    <ion-content>
        <div class="list" ng-if="data.length > 0">
            <div class="item item-avatar" ng-repeat="d in data">
                <img ng-src="{{d.get('image')}}">
                <h2>{{d.get('name')}}</h2>
                <p>￥{{d.get('price')}} <span class="pull-right"> <i class="ion ion-minus-circled" ng-click="minus(d)"></i> {{d.count}} <i class="ion ion-plus-circled" ng-click="plus(d)"></i> &nbsp;份</span> </p>
            </div>
        </div>
        <div class="balance text-center padding" ng-if="data.length == 0">请先选择需要购买的商品</div>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-if="data.length > 0 && cUser">
        <div class="title" ui-sref="app.order-add">立即下单</div>
    </div>
</ion-view>
