<ion-view view-title="全部产品">
    <ion-content>
        <div class="list card item-list" ng-repeat="d in data">

        <div class="item item-image">
        <img ng-src="{{d.get('image')}}">
        </div>

        <p class="title">{{d.get('name')}}</p>
        <p class="price">￥{{d.get('price')}}/份 <button class="button button-energized pull-right icon-left ion-android-cart button-small">加入购物车</button></p>
        <p class="origin-price">￥{{d.get('price') * 1.2 | number: 2}}</p>
        </div>
    </ion-content>
</ion-view>
