<ion-view view-title="新增订单">
    <ion-content>
        <ul class="list">
            <li class="item item-icon-left" ui-sref="app.address-select">
                <i class="icon ion-location"></i>
                厦门市湖里区190322
            </li>

            <li class="item item-icon-left" ui-sref="app.address-add">
                <i class="icon ion-plus-circled"></i>
                新增地址
            </li>
        </ul>

        <ul class="list">
            <div class="item item-divider">
                支付方式
            </div>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    线上支付
                </div>
                <i class="radio-icon ion-checkmark balanced"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group" checked>
                <div class="item-content">
                    货到付款
                </div>
                <i class="radio-icon ion-checkmark balanced"></i>
            </label>
        </ul>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title">提交</div>
    </div>
</ion-view>
