<ion-view view-title="我的订单">
    <ion-content>
        <div class="list">

            <a class="item order-list" href="#">
                <p>提货码:暂未支付</p>
                <p>手机号:18699883035 <button class="button button-balanced button-small pull-right">4.5元</button></p>
                <p class="datetime">2015-05-26 10:34</p>
            </a>

        </div>

        <div class="list">

            <a class="item order-list" href="#">
                <p>提货码:9343223422</p>
                <p>手机号:18699883035 <button class="button button-balanced button-small pull-right">87元</button></p>
                <p class="datetime">2015-05-26 10:34</p>
            </a>

        </div>

        <div class="list">

            <a class="item order-list" href="#">
                <p>提货码:3423459442</p>
                <p>手机号:18699883035 <button class="button button-balanced button-small pull-right">37.5元</button></p>
                <p class="datetime">2015-05-26 10:34</p>
            </a>

        </div>

        <div class="list">

            <a class="item order-list" href="#">
                <p>提货码:暂未支付</p>
                <p>手机号:18699883035 <button class="button button-balanced button-small pull-right">4.5元</button></p>
                <p class="datetime">2015-05-26 10:34</p>
            </a>

        </div>

        <div class="list">

            <a class="item order-list" href="#">
                <p>提货码:9343223422</p>
                <p>手机号:18699883035 <button class="button button-balanced button-small pull-right">87元</button></p>
                <p class="datetime">2015-05-26 10:34</p>
            </a>

        </div>

        <div class="list">

            <a class="item order-list" href="#">
                <p>提货码:3423459442</p>
                <p>手机号:18699883035 <button class="button button-balanced button-small pull-right">37.5元</button></p>
                <p class="datetime">2015-05-26 10:34</p>
            </a>

        </div>
    </ion-content>
</ion-view>
