<ion-view view-title="我的订单" cache-view="false">
    <ion-content>
        <p class="text-center padding" ng-show="data.length === 0">订单载入中...</p>
        <div class="list" ng-repeat="d in data">

            <a class="item order-list" href="#">
                <p>总价:￥{{d.get('price')}}</p>
                <p>地址:{{d.get('address')}}<button class="button button-balanced button-small pull-right">{{d.get('status') || '订单失败'}}</button></p>
                <p class="datetime">{{d.createdAt | date: 'yyyy-MM-dd'}}</p>
            </a>

        </div>
        </div>
    </ion-content>
</ion-view>
