/* Empty. Add your own CSS if you like */
.home-item .title {
    color: #000000;
    font-size: 12px;
    margin: 0;
    /*width: 100%;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
}

.home-item .price {
    color: #ff641a;
    font-size: 14px;
    margin: 0;
}

.home-item .origin-price {
    color: #aaaaaa;
    font-size: 12px;
    margin: 0;
}